<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quản lý nhân sự</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestProject.styles.css" asp-append-version="true" />
    <link href="~/css/layout.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h3>Quản lý nhân sự</h3>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Thêm nhân viên</a></li>
            <li><a asp-controller="Home" asp-action="Privacy">Danh sách nhân viên</a></li>
        </ul>
    </header>
    <div class="mybody">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>
            Quản lý nhân sự - <a asp-area="" asp-controller="Home" asp-action="Privacy">Danh sách nhân viên</a>
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
